// Override global sass variables before importing bootstrap.scss
$pink: #ff2290;
$yellow: #fbff22;

// Import two more specific bootstrap files
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


// Add to the current map with custom colors
$custom-demo-colors: (
    "golden-loop": #daa520,
    "rich-red": #D30000
);

$theme-colors: map-merge($theme-colors, $custom-demo-colors);

// Import the bootstrap.scss file from node_modules
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: var(--bs-light);
}

.container {
    background-color: $pink;
    //padding: 2rem 0;

    .wrapper {
        //background-color: $yellow;
        //max-width: 120rem;
        // padding: 0 4rem;

        h1 {
            text-align: center;
        }
    }
}