// Override global sass variables before importing bootstrap.scss
$pink: #ff2290;
$yellow: #fbff22;

// Import the bootstrap.scss file from node_modules
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: var(--bs-light);
}

.container {
    background-color: $pink;
    padding: 2rem 0;

    .wrapper {
        background-color: $yellow;
        max-width: 120rem;
        margin: 0 auto;
        padding: 0 4rem;

        h1 {
            text-align: center;
        }
    }
}